 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  border: none;
  cursor: pointer;
 }
 
 html, body {
  width: 100%;
  overflow-x: hidden;
 }
 
 body {
  font-family: sans-serif;
  width: 100vw;
  min-height: 100vh;
}